{% extends 'base.html' %}

{% block css %}
<style>
    
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">How to fill the form</h4>
                    <p class="card-text lead"><b>Support</b> is the relative frequency that the rules show up. In many instances, you may want to look for high support in order to make sure it is a useful relationship. However, there may be instances where a low support is useful if you are trying to find “hidden” relationships.</p>
                    <p class="card-text lead"><b>Lift</b> is the ratio of the observed support to that expected if the two rules were independent (see wikipedia). The basic rule of thumb is that a lift value close to 1 means the rules were completely independent. Lift values > 1 are generally more “interesting” and could be indicative of a useful rule pattern.</p>
                    <p class="card-text lead"><b>Confidence</b> is a measure of the reliability of the rule. A confidence of .5 in the above example would mean that in 50% of the cases where Diaper and Gum were purchased, the purchase also included Beer and Chips. For product recommendation, a 50% confidence may be perfectly acceptable but in a medical situation, this level may not be high enough.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/results">
                        <div class="form-group">
                            <label for="country">Select a country to get Market basket rules</label>
                            <select class="form-control form-control-lg" name="country" id="country">
                                
                                {% for item in countries %}
                                <option>{{ item }}</option>
                                {% endfor %}
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="support">Min Support</label>
                            <input type="range"
                            class="form-control form-control-lg" name="support" id="support" max="10" min="1" aria-describedby="helpId" placeholder="select a value" value="7">
                            <small id="helpId" class="form-text text-muted">select a value to get optimized results set</small>
                        </div>
                        
                        <div class="form-group">
                            <label for="lift">lift</label>
                            <input type="range"
                            class="form-control form-control-lg" name="lift" id="lift" max="100" min="10" aria-describedby="helpId" placeholder="select a value" value="6">
                            <small id="helpId" class="form-text text-muted">select a value to get optimized results set</small>
                        </div>
                        
                        <div class="form-group">
                            <label for="confidence">Confidence</label>
                            <input type="range"
                            class="form-control form-control-lg" name="confidence" id="confidence" max="100" min="10" aria-describedby="helpId" placeholder="select a value" value="80">
                            <small id="helpId" class="form-text text-muted">select a value to get optimized results set</small>
                        </div>

                        <div class="form-group">
                            <label for="length">max values of related items</label>
                            <input type="range"
                            class="form-control form-control-lg" name="length" id="length" max="4" min="2" aria-describedby="helpId" placeholder="select a value" value="2">
                            <small id="helpId" class="form-text text-muted">select a value to get optimized results set</small>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#mbo">generate results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mbo" tabindex="-1" role="dialog" aria-labelledby="mboLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mboLabel">Processing AI code</h5>
        </div>
        <div class="modal-body">
          <p class="lead">
              processing dataset, please wait, generating data
          </p>
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}