{% extends 'base.html' %}
{% block body %}
<div class="jumbotron bg-white">
    <h1 class="display-3 text-center">Market Basket Analysis Project</h1>
    <hr class="my-2">
</div>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto px-5">
            <p class="lead text-center">
                Using Apriori Algorithm to do Market Basket Analysis of Customers purchasing behaviours. It can predict what the customer is going to buy next by looking at the products he is buying.
            </p>
            <div class="text-center">
                <a class="btn btn-primary btn-lg " href="/mbo">click to start <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


